#root {
  max-width: 780px;
  min-height: 730px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #000000;
}

/* .logo {
  display: flex;
  gap: 20px;
}

.square {
  width: 75px;
  height: 75px;
}

.square_lg-grey {
  background: #d9d9d9;
}

.square_lg-green {
  background: #11dd21;
}

.square_lg-red {
  background: #dd0000;
}

.square_sm-green {
  width: 37px;
  height: 37px;
  background: #11dd21;
}

.title {
  align-self: center;
}

.text-box {
  padding-top: 75px;
}

#text-box_input {
  background: #dddddd;
  width: 442px;
  height: 41px;
  border-radius: 8px;
  border: 0;
  text-indent: 10px;
}

#text-box_input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  /* color: #000000; */
/* }

.some-message {
  padding-top: 21px;
  text-align: left;
}

.project-desc {
  padding-top: 226px;
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
