.login {
  display: flex;
  padding-top: 75px;
}

.auths {
  display: flex;
  padding-top: 75px;
}

#auths_input {
  background: #dddddd;
  width: 442px;
  height: 41px;
  border-radius: 8px;
  border: 0;
  text-indent: 10px;
}

.welcome-message {
}

.desc-message {
}
